# MacOSX
.DS_Store

# Testing
test/plot*.png
test/eng_archive
test/*.tar.gz
test/regr_vals.*
.pytest_cache/*
htmlcov
.coverage

# Project
build
data
dist
doc/_build
www
MANIFEST
*~
*.log
*.fits.gz
stage
Ska.engarchive.egg-info
sken.egg-info
Ska/engarchive/GIT_VERSION
test/eng_archive*
dev_utils/event_filter_1.png
dev_utils/event_filter_2.png
dev_utils/l0_5icd.pdf
dev_utils/memleak.py
recovery
.env
jeta.egg-info
linux_deploy.sh
VDS.hdf5
fastss.c
jeta/version.py

# Python
*.pyc

# vscode
.vscode/
jeta.code-workspace
jeta/staging/.coverage
